.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
        img{
        max-width: 100%;
        }
}

.header-jumbotron{
	height: 495px;
	border-radius: 0 !important;
    padding: 0 !important;
    background-size: cover !important;
    background-position: center !important;
}

.has_thumbnail{
	margin-top: -170px;
	background: #fff;
/*	padding-top: 3em;*/
}

.site-logo{
    img{
        max-height: 50px;
        padding: 10px 5;
     }
}

#post-content { display: none;
transition: all 2ms ease }
.show-more { margin-top: 15px; }


@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}

    .one-one {
        @include aspect-ratio(1, 1);
    }
    .one-two {
        @include aspect-ratio(3, 3.4);
    }
    .four-three {
        @include aspect-ratio(4, 3);
    }
    .sixteen-nine {
        @include aspect-ratio(16, 9);
    }

    .silver-ratio{
        @include aspect-ratio(2.414, 1);
    }
