

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #eae8e1;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
&.active {
    margin-left: -300px;
    transform: rotateY(100deg);
}

}


#sidebarCollapse {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border:none;
    outline: none;
    background: transparent;
& span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}
}
#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
        transform: rotateY(90deg);
    &.active {
        margin-left: 0;
        transform: none;
    }
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.login{
    padding: 10px;
    display: inline-block;
}

#submenu{
    ul li{
        a{
        text-transform: uppercase;
        border-bottom: 1px solid #dee2e6;
        padding: 19px 14px 16px 0;
        display: block;
            letter-spacing: 0.075em;
            font-weight: bold;
        }

        &:first-child a{
            padding-top:0;
        }
    }

    h5{
    letter-spacing: 0.075em;
    line-height: 26px;
    }
}

footer{
    .menu-item.menu-item-has-children{
  
        font-weight: bold; 
        @media (min-width: 768px) {
            width:25%;
            float: left;
            padding: 0 10px;
        }

        & .sub-menu {
            margin-top: 10px;
            padding: 0;

            & li{
            list-style: none;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 10px;
            }
        }
    }

    img{
        margin-bottom: 10px;
    }
}

